<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/results_style.css" />
  <title>BOOK</title>
</head>

<div id="res">
<h3>Search Results</h3>
{{#if searchresult.length}}
    <p>Number of books found: {{searchresult.length}}</p>
    <ul>
        {{#each searchresult}}
            <li>
                <a href="/book/{{this.ISBN}}" style="text-decoration:none">{{this.title}}</a>
                <p>Author: {{this.firstName}} {{this.lastName}}</p>
                <p>Category: {{this.name}}</p>
                <div>
                    <img src="images/{{this.image_id}}.jpg" alt="{{this.title}}" style="width: 100px; height: 150px;">
                </div>
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>No books found</p>
{{/if}}
</div>

