{{!-- searchresult.hbs --}}

<h3>Search Results</h3>
{{#if books.length}}
    <p>Number of books found: {{books.length}}</p>
    <ul>
        {{#each books}}
            <li>
                <a href="/book/{{this.id}}">{{this.title}}</a>
                <p>Author: {{this.author}}</p>
                <p>Category: {{this.category}}</p>
                <div>
                    <img src="{{this.image}}" alt="{{this.title}}" style="width: 100px; height: 150px;">
                </div>
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>No books found</p>
{{/if}}

<div class="back">
    <a href="/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="fill: #635147;">
        <path d="M21 11H6.414l5.293-5.293-1.414-1.414L2.586 12l7.707 7.707 1.414-1.414L6.414 13H21z"></path>
        </svg></a>
</div>